.row{
    padding-top: 15px;
    padding-left: 20px;
}

.heading{
    color: #fff;
    padding-bottom: 10px;   
}

.posts{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.posts::-webkit-scrollbar{
    display: none;
}
.img{
    max-height: 250px;
    padding-left: 10px;
    cursor: pointer;
}

.imgSmall{
    max-height: 200px;
    padding-left: 10px;   
    cursor: pointer;
}

.img:hover{
    transform: scale(1.2);
}

